# Data & artifacts (keep folder structure, ignore contents)
data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md
models/

# Python
__pycache__/
*.py[cod]
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json


